body{
    background-image: url('../images/tree.png');
    background-position: left center;
    background-size: 30rem 50rem;
    background-repeat: no-repeat;
}


h1{
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-family: 'Courier New', Courier, monospace;
    padding-left: 10px;
}


.txtbox{
    background-color: whitesmoke;
    float:right;
    width: 70%;
    padding: 10px;
}

.borderdiv{
    border: dotted 5px;
    border-bottom:dashed 5px;
    border-left: solid 5px;
    border-right: solid 5px;
    width: 70%;
    float:right;
    margin-top: 1rem;
}