.treeimg{
    display: inline;
    width: 30%;
    margin-right: 0;
}

h1{
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-family: 'Courier New', Courier, monospace;
    padding-left: 10px;
}


.txtbox{
    display:inline;
    background-color: whitesmoke;
    float:right;
    width: 70%;
    padding: 10px;
}

.borderdiv{
    display: inline;
    border: dotted 5px;
    border-bottom:dashed 5px;
    border-left: solid 5px;
    border-right: solid 5px;
    width: 70%;
    float:right;
    margin-top: -450px;
}